parameters:
    level: 8
    paths:
        - src
    scanFiles:
        - tests/Stubs/Yii2/base/Component.php
        - tests/Stubs/Yii2/base/BootstrapInterface.php
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
